h1 {
    color: red;
}

h2 {
    color: green;
}

Body {
    background-color: grey;
}

#absatz {
    color: yellow;
    background-color: red;
}

#absatz {
    color: blue;
    text-decoration: underline;
}

#ipsum {
    font-size: 1.5em;
}

img {
    width: 48vw;
    Height: auto;
}

#bild2 {
    height: 50vh;
    width:  auto;
}